.deps
.dirstamp
.DS_Store
.libs
.*.swp

*.*~*
*.tar.gz
*.exe
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.patch
*.a
*.pb.*
*.log
*.trs
*.dmg
*.json.h
*.raw.h
*.lo
*.la
*.qm
*.gcno
*.gcda

build

Makefile
Makefile.in
Makefile.test
aclocal.m4
autom4te.cache/
config.log
config.status
configure
libtool

